apiUrl=https://api.dr.dk/radio/v2
# Obtain API key by inspecting requests on dr.dk/lyd
outputDirectory=/home/runner/work/DR1ommer/DR1ommer/output

# Genstart
slug1=genstart
urn1=urn:dr:radio:series:5fa25ef8330eac2f135b62d6
titleSuffix1=(uden forsinkelse)
descriptionSuffix1=Genudgivet RSS-feed uden tre dages forsinkelse.
