<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DR Podcasts</title>
    <meta
            name="description"
            content="Genudgivelse af podcasts fra DR som RSS, uden forsinkelser."
    />

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>

<body>
<a href="https://github.com/drpodcastnu">
    <img
            style="position: absolute; right: 0; width:64px; height:64px;"
            src="github-mark.png"
    />
</a>
<!-- Header -->
<header class="container">
    <hgroup>
        <h1>DR Podcasts</h1>
        <h2>Genudgivelse af podcasts fra DR som RSS, uden forsinkelser.</h2>
    </hgroup>
</header>
<!-- ./ Header -->
<!-- Main -->
<main class="container">
    <section id="podcasts">
        <h2>Podcasts</h2>
        <ul>
            {{#podcasts}}
                <li>
                    <a href="{{slug}}/feed.xml">
                        <div>
                            <img src="{{slug}}/image.jpg" alt="{{title}}" />
                            <strong>{{title}}</strong>
                        </div>
                    </a>
                </li>
            {{/podcasts}}
        </ul>
    </section>
    <section>
        <h2>Hvad er dette?</h2>
        <p>DR har for nyligt valgt at et udvalg af deres podcasts ikke længere skal være tilgængelige som RSS-feeds, eller at de RSS-feeds de publicerer er forsinkede med flere dage. Dette betyder at du som lytter ikke kan bruge den app du foretrækker, men at du bliver tvunget til at bruge DR's app "DR Lyd".</p>
        <p>Argumentet som DR bruger er, at de ikke vil lade store techgiganter som Spotify bestemme over DR's indhold. Dette argument giver ikke nogen mening, da DR samtidig også afskærer alle andre 3. parts apps fra at abonnere på deres podcasts.</p>
        <p>Dette går direkte imod DR's public service forpligtelser, og svarer til at bestemme at du kun må bruge en radio produceret af DR til at lytte til DR's programmer. I værste fald er DR med til yderligere at normalisere tendensen til, at indhold gemmes bag betalingsmure og proprietære apps i stedet for at blive gjort tilgængeligt via de åbne web-standarder der allerede findes, og som sikrer at folk kan bruge den software de foretrækker.</p>
        <p>De RSS-feeds du kan finde på denne side kan du importere i de fleste RSS-læsere som understøtter import af vilkårlige RSS URL'er. Med tiden kan det også være at du vil kunne finde dem direkte i den app du foretrækker, såfremt deres indekseringsrobot har fundet dem.</p>
    </section>
</main>
</body>
</html>
